Basic Statistical Testing

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
df=pd.read_csv ('datasets/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [3]:
print('There are {} rows and {} columns'.format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [4]:
early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [5]:
print('There are {} rows and {} columns'.format(early_finishers.shape[0], early_finishers.shape[1]))

There are 1259 rows and 13 columns

In [6]:
late_finishers = df[pd.to_datetime(df['assignment1_submission']) > '2016']
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [7]:
print('There are {} rows and {} columns'.format(late_finishers.shape[0], late_finishers.shape[1]))

There are 1056 rows and 13 columns

In [9]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [10]:
from scipy.stats import ttest_ind

ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'] )

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)

In [12]:
ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade'] )
ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade'] )
ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade'] )
ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade'] )
ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade'] )

Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [13]:
ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade'] )

Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)

In [15]:
df1 = pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.208493,0.359014,0.504179,0.029607,0.113707,0.475140,0.434928,0.099280,0.604671,0.488544,...,0.894786,0.932636,0.457053,0.956719,0.777191,0.635305,0.371690,0.655558,0.119018,0.617986
1,0.386023,0.810262,0.814432,0.497389,0.021548,0.822415,0.827690,0.856744,0.823128,0.605751,...,0.319145,0.469377,0.835118,0.796439,0.245195,0.622804,0.874649,0.130357,0.111863,0.701040
2,0.788406,0.762071,0.569434,0.083998,0.735589,0.155337,0.563827,0.829591,0.612884,0.195909,...,0.563708,0.796930,0.905025,0.140355,0.446545,0.880243,0.977864,0.058383,0.623248,0.576799
3,0.434327,0.613515,0.778861,0.553812,0.988491,0.691556,0.210444,0.479842,0.997336,0.703123,...,0.212224,0.785476,0.179139,0.718206,0.245537,0.639766,0.529303,0.331763,0.369989,0.409349
4,0.003516,0.362074,0.822823,0.657981,0.571445,0.028453,0.314596,0.341208,0.622841,0.533810,...,0.629280,0.139810,0.787140,0.955269,0.738963,0.218965,0.248672,0.637866,0.098094,0.925609

In [16]:
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])

In [17]:
def test_cols(alpha=0.1):
    num_diff = 0

    for col in df1.columns:
        teststat, pval= ttest_ind(df1[col], df2[col])

        if pval <= alpha:
            num_diff = num_diff + 1
            print('Col {} is statistically significant difference at alpha = {} pval = {}'.format(col, pval, alpha))
    print('Total number of differences is {}, which is {},'.format(num_diff, float(num_diff)/len(df1.columns)*100))

In [18]:
test_cols()

Col 41 is statistically significant difference at alpha = 0.0796059371466893 pval = 0.1
Col 49 is statistically significant difference at alpha = 0.075618083075013 pval = 0.1
Col 58 is statistically significant difference at alpha = 0.005196428562413863 pval = 0.1
Col 67 is statistically significant difference at alpha = 0.06020502399977028 pval = 0.1
Col 69 is statistically significant difference at alpha = 0.003525630343927758 pval = 0.1
Col 88 is statistically significant difference at alpha = 0.050416927520578206 pval = 0.1
Total number of differences is 6, which is 6.0,

In [19]:
test_cols(0.9)

Col 0 is statistically significant difference at alpha = 0.6580273339354109 pval = 0.9
Col 2 is statistically significant difference at alpha = 0.21162505928960793 pval = 0.9
Col 3 is statistically significant difference at alpha = 0.5983303922331169 pval = 0.9
Col 4 is statistically significant difference at alpha = 0.29378288076764975 pval = 0.9
Col 5 is statistically significant difference at alpha = 0.21412468723019176 pval = 0.9
Col 6 is statistically significant difference at alpha = 0.39709471650120354 pval = 0.9
Col 7 is statistically significant difference at alpha = 0.23037115948116213 pval = 0.9
Col 8 is statistically significant difference at alpha = 0.3719249506104346 pval = 0.9
Col 9 is statistically significant difference at alpha = 0.4295472043577878 pval = 0.9
Col 10 is statistically significant difference at alpha = 0.14447552184152138 pval = 0.9
Col 11 is statistically significant difference at alpha = 0.860238018935463 pval = 0.9
Col 12 is statistically significant difference at alpha = 0.36207316827837 pval = 0.9
Col 13 is statistically significant difference at alpha = 0.33761378735832004 pval = 0.9
Col 14 is statistically significant difference at alpha = 0.47767705840667907 pval = 0.9
Col 15 is statistically significant difference at alpha = 0.6261723564872568 pval = 0.9
Col 16 is statistically significant difference at alpha = 0.6904681834433015 pval = 0.9
Col 17 is statistically significant difference at alpha = 0.5197539709230238 pval = 0.9
Col 18 is statistically significant difference at alpha = 0.45925387627005776 pval = 0.9
Col 19 is statistically significant difference at alpha = 0.7254197434782865 pval = 0.9
Col 20 is statistically significant difference at alpha = 0.584130805638067 pval = 0.9
Col 21 is statistically significant difference at alpha = 0.6277781058672324 pval = 0.9
Col 22 is statistically significant difference at alpha = 0.872905030617168 pval = 0.9
Col 23 is statistically significant difference at alpha = 0.11428616139512311 pval = 0.9
Col 24 is statistically significant difference at alpha = 0.5161003171948446 pval = 0.9
Col 25 is statistically significant difference at alpha = 0.618327922803936 pval = 0.9
Col 26 is statistically significant difference at alpha = 0.1276906582113733 pval = 0.9
Col 27 is statistically significant difference at alpha = 0.25899063675214395 pval = 0.9
Col 28 is statistically significant difference at alpha = 0.7564906088331951 pval = 0.9
Col 29 is statistically significant difference at alpha = 0.8484191175633125 pval = 0.9
Col 30 is statistically significant difference at alpha = 0.8434373941059976 pval = 0.9
Col 31 is statistically significant difference at alpha = 0.5847351984599447 pval = 0.9
Col 32 is statistically significant difference at alpha = 0.7157796452127038 pval = 0.9
Col 33 is statistically significant difference at alpha = 0.5096882884230485 pval = 0.9
Col 34 is statistically significant difference at alpha = 0.7511621945377808 pval = 0.9
Col 35 is statistically significant difference at alpha = 0.3812320668167657 pval = 0.9
Col 36 is statistically significant difference at alpha = 0.13831460571834858 pval = 0.9
Col 37 is statistically significant difference at alpha = 0.7300097633868408 pval = 0.9
Col 38 is statistically significant difference at alpha = 0.27820476602400107 pval = 0.9
Col 39 is statistically significant difference at alpha = 0.4532689034678641 pval = 0.9
Col 40 is statistically significant difference at alpha = 0.33398071037437727 pval = 0.9
Col 41 is statistically significant difference at alpha = 0.0796059371466893 pval = 0.9
Col 42 is statistically significant difference at alpha = 0.26290349364019233 pval = 0.9
Col 43 is statistically significant difference at alpha = 0.11944172827149441 pval = 0.9
Col 45 is statistically significant difference at alpha = 0.6526853676131696 pval = 0.9
Col 46 is statistically significant difference at alpha = 0.5877502526176237 pval = 0.9
Col 47 is statistically significant difference at alpha = 0.7752731148276468 pval = 0.9
Col 48 is statistically significant difference at alpha = 0.688394216228684 pval = 0.9
Col 49 is statistically significant difference at alpha = 0.075618083075013 pval = 0.9
Col 50 is statistically significant difference at alpha = 0.34515231223401177 pval = 0.9
Col 52 is statistically significant difference at alpha = 0.3715110846033045 pval = 0.9
Col 53 is statistically significant difference at alpha = 0.4171657399958819 pval = 0.9
Col 54 is statistically significant difference at alpha = 0.4124509880267402 pval = 0.9
Col 55 is statistically significant difference at alpha = 0.2616666121609999 pval = 0.9
Col 56 is statistically significant difference at alpha = 0.21328119256076408 pval = 0.9
Col 58 is statistically significant difference at alpha = 0.005196428562413863 pval = 0.9
Col 59 is statistically significant difference at alpha = 0.5409306752923236 pval = 0.9
Col 60 is statistically significant difference at alpha = 0.2372604751326721 pval = 0.9
Col 61 is statistically significant difference at alpha = 0.7063181600307298 pval = 0.9
Col 62 is statistically significant difference at alpha = 0.8336727780569041 pval = 0.9
Col 63 is statistically significant difference at alpha = 0.233804162430109 pval = 0.9
Col 64 is statistically significant difference at alpha = 0.3137518210427665 pval = 0.9
Col 65 is statistically significant difference at alpha = 0.4897114555849934 pval = 0.9
Col 67 is statistically significant difference at alpha = 0.06020502399977028 pval = 0.9
Col 68 is statistically significant difference at alpha = 0.22749273974417492 pval = 0.9
Col 69 is statistically significant difference at alpha = 0.003525630343927758 pval = 0.9
Col 70 is statistically significant difference at alpha = 0.26417547597748453 pval = 0.9
Col 71 is statistically significant difference at alpha = 0.8216226877931296 pval = 0.9
Col 72 is statistically significant difference at alpha = 0.8888425059790204 pval = 0.9
Col 73 is statistically significant difference at alpha = 0.630080401373637 pval = 0.9
Col 74 is statistically significant difference at alpha = 0.6586841059563352 pval = 0.9
Col 75 is statistically significant difference at alpha = 0.627341808153898 pval = 0.9
Col 77 is statistically significant difference at alpha = 0.3615503784804567 pval = 0.9
Col 78 is statistically significant difference at alpha = 0.6336628924563084 pval = 0.9
Col 79 is statistically significant difference at alpha = 0.3806166106072151 pval = 0.9
Col 80 is statistically significant difference at alpha = 0.5837755677810267 pval = 0.9
Col 81 is statistically significant difference at alpha = 0.7470371256449959 pval = 0.9
Col 82 is statistically significant difference at alpha = 0.6549753786395691 pval = 0.9
Col 83 is statistically significant difference at alpha = 0.16010751697796202 pval = 0.9
Col 84 is statistically significant difference at alpha = 0.7698196578648716 pval = 0.9
Col 85 is statistically significant difference at alpha = 0.6789158786818525 pval = 0.9
Col 86 is statistically significant difference at alpha = 0.2076914149087186 pval = 0.9
Col 87 is statistically significant difference at alpha = 0.3288996119965196 pval = 0.9
Col 88 is statistically significant difference at alpha = 0.050416927520578206 pval = 0.9
Col 89 is statistically significant difference at alpha = 0.47849993007292213 pval = 0.9
Col 90 is statistically significant difference at alpha = 0.7297997274799011 pval = 0.9
Col 92 is statistically significant difference at alpha = 0.3011031405343899 pval = 0.9
Col 93 is statistically significant difference at alpha = 0.15994819247906528 pval = 0.9
Col 94 is statistically significant difference at alpha = 0.25678710083285505 pval = 0.9
Col 95 is statistically significant difference at alpha = 0.6248882105568252 pval = 0.9
Col 96 is statistically significant difference at alpha = 0.47011619145603534 pval = 0.9
Col 98 is statistically significant difference at alpha = 0.7283506453246109 pval = 0.9
Col 99 is statistically significant difference at alpha = 0.8184806419897784 pval = 0.9
Total number of differences is 92, which is 92.0,

In [20]:
test_cols(0.5)

Col 2 is statistically significant difference at alpha = 0.21162505928960793 pval = 0.5
Col 4 is statistically significant difference at alpha = 0.29378288076764975 pval = 0.5
Col 5 is statistically significant difference at alpha = 0.21412468723019176 pval = 0.5
Col 6 is statistically significant difference at alpha = 0.39709471650120354 pval = 0.5
Col 7 is statistically significant difference at alpha = 0.23037115948116213 pval = 0.5
Col 8 is statistically significant difference at alpha = 0.3719249506104346 pval = 0.5
Col 9 is statistically significant difference at alpha = 0.4295472043577878 pval = 0.5
Col 10 is statistically significant difference at alpha = 0.14447552184152138 pval = 0.5
Col 12 is statistically significant difference at alpha = 0.36207316827837 pval = 0.5
Col 13 is statistically significant difference at alpha = 0.33761378735832004 pval = 0.5
Col 14 is statistically significant difference at alpha = 0.47767705840667907 pval = 0.5
Col 18 is statistically significant difference at alpha = 0.45925387627005776 pval = 0.5
Col 23 is statistically significant difference at alpha = 0.11428616139512311 pval = 0.5
Col 26 is statistically significant difference at alpha = 0.1276906582113733 pval = 0.5
Col 27 is statistically significant difference at alpha = 0.25899063675214395 pval = 0.5
Col 35 is statistically significant difference at alpha = 0.3812320668167657 pval = 0.5
Col 36 is statistically significant difference at alpha = 0.13831460571834858 pval = 0.5
Col 38 is statistically significant difference at alpha = 0.27820476602400107 pval = 0.5
Col 39 is statistically significant difference at alpha = 0.4532689034678641 pval = 0.5
Col 40 is statistically significant difference at alpha = 0.33398071037437727 pval = 0.5
Col 41 is statistically significant difference at alpha = 0.0796059371466893 pval = 0.5
Col 42 is statistically significant difference at alpha = 0.26290349364019233 pval = 0.5
Col 43 is statistically significant difference at alpha = 0.11944172827149441 pval = 0.5
Col 49 is statistically significant difference at alpha = 0.075618083075013 pval = 0.5
Col 50 is statistically significant difference at alpha = 0.34515231223401177 pval = 0.5
Col 52 is statistically significant difference at alpha = 0.3715110846033045 pval = 0.5
Col 53 is statistically significant difference at alpha = 0.4171657399958819 pval = 0.5
Col 54 is statistically significant difference at alpha = 0.4124509880267402 pval = 0.5
Col 55 is statistically significant difference at alpha = 0.2616666121609999 pval = 0.5
Col 56 is statistically significant difference at alpha = 0.21328119256076408 pval = 0.5
Col 58 is statistically significant difference at alpha = 0.005196428562413863 pval = 0.5
Col 60 is statistically significant difference at alpha = 0.2372604751326721 pval = 0.5
Col 63 is statistically significant difference at alpha = 0.233804162430109 pval = 0.5
Col 64 is statistically significant difference at alpha = 0.3137518210427665 pval = 0.5
Col 65 is statistically significant difference at alpha = 0.4897114555849934 pval = 0.5
Col 67 is statistically significant difference at alpha = 0.06020502399977028 pval = 0.5
Col 68 is statistically significant difference at alpha = 0.22749273974417492 pval = 0.5
Col 69 is statistically significant difference at alpha = 0.003525630343927758 pval = 0.5
Col 70 is statistically significant difference at alpha = 0.26417547597748453 pval = 0.5
Col 77 is statistically significant difference at alpha = 0.3615503784804567 pval = 0.5
Col 79 is statistically significant difference at alpha = 0.3806166106072151 pval = 0.5
Col 83 is statistically significant difference at alpha = 0.16010751697796202 pval = 0.5
Col 86 is statistically significant difference at alpha = 0.2076914149087186 pval = 0.5
Col 87 is statistically significant difference at alpha = 0.3288996119965196 pval = 0.5
Col 88 is statistically significant difference at alpha = 0.050416927520578206 pval = 0.5
Col 89 is statistically significant difference at alpha = 0.47849993007292213 pval = 0.5
Col 92 is statistically significant difference at alpha = 0.3011031405343899 pval = 0.5
Col 93 is statistically significant difference at alpha = 0.15994819247906528 pval = 0.5
Col 94 is statistically significant difference at alpha = 0.25678710083285505 pval = 0.5
Col 96 is statistically significant difference at alpha = 0.47011619145603534 pval = 0.5
Total number of differences is 50, which is 50.0,

Other Forms of Structured Data

In [22]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

In [23]:
import re
s = 'ABCAC'

In [25]:
re.match('A', s) == True

False

In [33]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = df.index[0]
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
      
    return result

print(result)

<function result at 0x000001DEB0CF58B0>

In [34]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [35]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

In [36]:
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int32

In [37]:
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int32

In [38]:
S[1:4]

b    1
c    2
d    3
dtype: int32

In [39]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)

In [40]:
df_new

student_id                FFDF2B2C-F514-EF7F-6538-A6A53518E9DC1026AC75-5...
assignment1_grade                                                 115.11888
assignment1_submission    2016-08-07 18:57:16.8250000002015-09-14 23:46:...
assignment2_grade                                                112.917173
assignment2_submission    2016-08-14 11:56:52.1340000002015-09-15 00:26:...
assignment3_grade                                                111.963495
assignment3_submission    2016-08-21 16:41:13.1700000002015-09-17 01:54:...
assignment4_grade                                                107.881959
assignment4_submission    2016-08-19 04:38:31.4740000002015-09-15 02:36:...
assignment5_grade                                                 105.78527
assignment5_submission    2016-08-26 15:35:47.6700000002015-09-15 02:56:...
assignment6_grade                                                104.963917
assignment6_submission    2016-08-27 20:35:37.4910000002015-09-17 18:38:...
dtype: object